<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="./static/css/output.css" rel="stylesheet">
</head>

<body>
    <nav class="bg-white shadow border border-gray-200">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between md:justify-normal  p-6">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="./static/imgs/Group.svg" class="h-8" alt="Flowbite Logo" />
            </a>
            <button data-collapse-toggle="navbar-multi-level" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 " aria-controls="navbar-multi-level" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto ml-16" id="navbar-multi-level">
                <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white ">
                    <li>
                        <a href="#" class="block py-2 px-3 text-slate-600 text-base font-normal font-roboto rounded md:bg-transparent md:p-0 " aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 px-3 text-slate-600 font-normal font-roboto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-slate-800 md:p-0">About</a>
                    </li>
                    <li>
                        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-gray-600 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto ">Technology
                            <svg class="w-2.5 h-2.5 ms-2.5 stroke-slate-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
                            <ul class="py-2 text-sm text-slate-600 font-normal font-roboto" aria-labelledby="dropdownLargeButton">
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Hotspot</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Earnings</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                    <li>
                        <a href="#" class="block py-2 px-3 text-slate-600 text-base font-normal font-roboto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-slate-800 md:p-0">Solutions</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 px-3 text-indigo-900 text-base font-semibold font-roboto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-slate-800 md:p-0">Impact</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 px-3 text-slate-600 text-base font-normal font-roboto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-slate-800 md:p-0">Success Stories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    

        <section class="bg-center bg-no-repeat bg-cover from-black/85 to-indigo-900/80 mx-7 mt-1" style="background-image: linear-gradient(to bottom left, var(--tw-gradient-stops)), url('./static/imgs/image 721.png');">
            <div class="flex items-center pt-6 pl-24 pr-16 space-x-16">
                <img class="h-[33rem]" src="./static/imgs/MicrosoftTeams-image (1).png" alt="">
                <div class="w-full mb-24">
                    <img class="h-28 mb-5" src="./static/imgs/566280 copy 1.png" alt="">
                    <h1 class="text-white text-4xl font-semibold font-roboto mb-2">Connecting Communities</h1>
                    <p  class="text-white text-xl  font-normal  font-roboto leading-loose">Janata Wifi provides vital connectivity to underserved areas with limited broadband access. Strategically placed Wi-Fi nodes offer free internet, positively impacting residents' lives.</p>
                </div>
            </div>
        </section>


        <div class="flex space-x-3 2xl:space-x-40 items-center mt-28 mb-20">
            <img class="h-[22rem]" src="./static/imgs/MicrosoftTeams-image.png" alt="">
    
            <div class="w-full">
                <h1 class="text-slate-900 text-4xl font-semibold font-roboto mb-8">Content-powered Wi-Fi</h1>
    
                <p  class="text-slate-600 text-xl  font-normal font-roboto leading-loose pr-4">Create a content-based Wi-Fi environment by seamlessly integrating your ads or third-party sponsor ads. Showcase your products or services through strategically placed advertisements, reaching a broader audience and boosting brand visibility, or collaborate with partners to showcase targeted ads, driving engagement and creating additional revenue streams.</p>
            </div>
        </div>

        <div class="flex space-x-32 2xl:space-x-40 items-center mt-28 mb-20 px-16 pr-6">
            <div class="w-full">
                <h1 class="text-slate-900 text-4xl font-semibold font-roboto mb-8 leading-[3rem] pr-28">Effortless Installation and Device Management</h1>
                
                <p  class="text-slate-600 text-xl  font-normal font-roboto leading-loose">Simplify hardware deployment with easy installation procedures. Enjoy continuous monitoring and remote management capabilities, receiving instant alerts for issues and efficiently deploying solutions. Monitor network performance remotely, eliminating the challenges typically faced by network service providers and ensuring an improved customer experience.</p>
            </div>
            <img class="w-[73%]" src="./static/imgs/image 739.png" alt="">
        </div>

        <div class="flex space-x-5 2xl:space-x-40 items-center mt-28 mb-20 pl-16">
            <div class="w-[83%]">
                <h1 class="text-slate-900 text-4xl font-semibold font-roboto mb-8 leading-[3rem] pr-28">Distribution Network Management</h1>
                
                <p  class="text-slate-600 text-xl  font-normal font-roboto leading-loose">Effectively manage distributors and resellers with our user-friendly platform. This feature provides a centralized hub to oversee and optimize your distribution network, facilitating you to enhance operational efficiency and strengthen partnerships within your ecosystem.</p>
            </div>
            <img class="h-[22rem]" src="./static/imgs/Frame 1 (2) 1.png" alt="">
        </div>

        <div class="grid grid-cols-4 gap-x-4 px-10">
            <div class="flex flex-col items-center px-2.5 pt-10 pb-20 shadow rounded-sm">
                <img class="w-20 mb-8" src="./static/imgs/Mask group-3.png" alt="">
                <h1 class="text-slate-900 text-2xl font-semibold font-roboto mb-4">Authentication</h1>
                <p  class="text-slate-600 text-xs  text-center font-normal font-Roboto leading-4">Have your network in control with user-friendly tools and ensure secure, compliant user experiences through fulfilled regulatory requirements.</p>
            </div>

            <div class="flex flex-col items-center px-2.5 pt-10 pb-20 shadow rounded-sm">
                <img class="w-20 mb-8" src="./static/imgs/Mask group-2.png" alt="">
                <h1 class="text-slate-900 text-2xl font-semibold font-roboto mb-4">Analytical Insights</h1>
                <p  class="text-slate-600 text-xs  text-center font-normal font-Roboto leading-4">Unlock actionable insights with our Analytics Tools and dive into comprehensive reports that reveal user behavior and Hotspot performance, allowing you to make informed decisions for ongoing optimization.</p>
            </div>

            <div class="flex flex-col items-center px-2.5 pt-10 pb-20 shadow rounded-sm">
                <img class="w-20 mb-8" src="./static/imgs/Mask group.png" alt="">
                <h1 class="text-slate-900 text-2xl font-semibold font-roboto mb-4">Get New Leads</h1>
                <p  class="text-slate-600 text-xs  text-center font-normal font-Roboto leading-4">Utilize our Hotspot to collect valuable user data and generate new leads for your business. Understand user behavior, preferences, and demographics to tailor your marketing strategies.</p>
            </div>

            <div class="flex flex-col items-center px-2.5 pt-10 pb-20 shadow rounded-sm">
                <img class="w-20 mb-8" src="./static/imgs/Mask group-1.png" alt="">
                <h1 class="text-slate-900 text-2xl font-semibold font-roboto mb-4">Monetize</h1>
                <p  class="text-slate-600 text-xs  text-center font-normal font-Roboto leading-4">Monetize your Hotspot by partnering with businesses, advertisers, or sponsors, creating a mutually beneficial ecosystem that generates revenue for you.</p>
            </div>
        </div>

        <div class="flex flex-col items-center mb-10 mt-28">
            <h1 class="text-slate-900 text-4xl font-semibold font-roboto mb-8">How It Works ?</h1>
            <hr class="h-0.5 w-1/2 border-0 bg-gradient-to-r from-[#D6A1F0] to-[#86C7FA0D]">
        </div>

        <div class="flex space-x-16 2xl:space-x-40 items-center mt-28 mb-20 px-16 pr-6">
            <div class="w-full">
                <h1 class="text-slate-900 text-4xl font-semibold font-roboto mb-8">Success Stories</h1>
                
                <p  class="text-slate-600 text-xl  font-normal font-roboto leading-loose">Hotspots strategically deployed by our network provider partners have proven instrumental in driving customer engagement and satisfaction. By offering free Wi-Fi access in key locations, businesses hosting these Hotspots experience a surge in foot traffic. Additionally, the ripple effect extends to community development, as connectivity becomes a catalyst for economic growth and social interaction in these vibrant spaces.</p>
            </div>
            <img class="h-[34rem]" src="./static/imgs/Frame 1000003501.png" alt="">
        </div>

        <div class="rounded-2xl shadow mx-10 mt-8 mb-20" style="background-image: url('./static/imgs/f5b5393b79507345340cc1a20319d74a.png'); background-size: 34rem;">
            <div class="bg-gradient-to-r from-white/50 via-slate-100/50 to-blue-100 rounded-2xl pt-20 pb-4 pl-10">
                <h1 class="text-slate-900 text-5xl font-semibold font-Inter">In Pursuit of the Right Partner</h1>
                <p  class="text-slate-600 text-2xl font-normal font-roboto mb-12">To Deploy Your Own Wireless Services?</p>
                <div class="flex items-center space-x-3 mb-12">
                    <a href="#" class="text-slate-100 text-base font-medium font-roboto bg-blue-900  hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-md px-16 py-2.5 mb-2 focus:outline-none">Try the App</a>
                    <a href="#" class="text-slate-900 text-base font-medium font-roboto bg-white     hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-md px-12 py-2.5 mb-2 focus:outline-none border border-stone-300">Contact Sales</a>
                </div>
            </div>
        </div>

    <footer class="bg-blue-900 py-16 pb-14 px-12 2xl:px-72">
        <div class="flex justify-between w-full mb-20">
            <img class="h-14" src="./static/imgs/Group(1).svg" alt="">

            <div class="flex flex-col">
                <h1 class="text-white text-base font-bold font-Inter mb-4">Quick Links</h1>
                <a  href="#" class="text-white text-base font-normal font-Inter mb-4">About</a>
                <a  href="#" class="text-white text-base font-normal font-Inter mb-4">Technology</a>
                <a  href="#" class="text-white text-base font-normal font-Inter mb-4">Solutions</a>
                <a  href="#" class="text-white text-base font-normal font-Inter mb-4">Success Stories</a>
                <a  href="#" class="text-white text-base font-normal font-Inter     ">Blog and News</a>
            </div>

            <div class="flex flex-col">
                <h1 class="text-white text-base font-bold font-Inter mb-4">Technology</h1>
                <a  href="#" class="text-white text-base font-normal font-Inter mb-4">Captive Portal</a>
                <a  href="#" class="text-white text-base font-normal font-Inter mb-4">ISP Customer App</a>
                <a  href="#" class="text-white text-base font-normal font-Inter     ">Roaming Dashboard</a>
            </div>

            <div class="flex flex-col">
                <h1 class="text-white text-base font-bold font-Inter mb-4">Quick Support</h1>
                <div class="flex items-center mb-4">
                    <img class="h-6 mr-1.5" src="./static/imgs/Frame(3).svg" alt="">
                    <p  href="#" class="text-white text-base font-normal font-Inter">contact@janatawifi.com <p>
                </div>

                <div class="flex items-center mb-4">
                    <img class="h-6 mr-1.5" src="./static/imgs/Frame(4).svg" alt="">
                    <p  href="#" class="text-white text-base font-normal font-Inter">+880 1915-601725<p>
                </div>

                <div class="flex items-center">
                    <img class="h-6 mr-1.5" src="./static/imgs/Frame(5).svg" alt="">
                    <p  href="#" class="text-white text-base font-normal font-Inter">Banani, Dhaka, Bangladesh<p>
                </div>
            </div>

            <div class="flex flex-col  w-[26%]">
                <h1 class="text-white text-xl font-semibold font-Inter">For Latest News and Updates</h1>
                <p  class="text-justify text-white text-sm font-normal font-Inter mb-8">Subscribe and be the first to know about all our recent news and events.</p>
                <div class="flex w-full">
                    <input   class="p-2.5 w-full z-20 text-xs text-black    bg-white       rounded-l                           focus:ring-blue-500 focus:border-blue-500" placeholder="Your email">
                    <button  class="px-8 py-3         text-xs text-zinc-800 bg-neutral-200 rounded      font-bold font-Manrope focus:ring-blue-300 hover:bg-neutral-400 focus:ring-4 focus:outline-none  -translate-x-1">
                        Send
                    </button>
                </div>
            </div>
        </div>

        <hr class="h-px border-0 bg-white">

        <div class="flex justify-between pt-10 px-20">
            <p class="text-white text-base font-normal font-roboto">© 2024 Janata WiFi Ltd. - All Rights Reserved.</p>
            <div class="inline-flex space-x-4">
                <img class="h-6" src="./static/imgs/youtube.svg" alt="">
                <img class="h-6" src="./static/imgs/facebook.svg" alt="">
                <img class="h-6" src="./static/imgs/twitter.svg" alt="">
                <img class="h-6" src="./static/imgs/instagram.svg" alt="">
                <img class="h-6" src="./static/imgs/linkedin.svg" alt="">
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>